/* font */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(242, 242, 242, 0.77);
  font-family: 'Fredoka', sans-serif;
  font-size: 15px;
  line-height: 1.4;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  /* padding: 2em; */
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}


label{
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.2rem;
}

input,
textarea,
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

p {
  font-size: 1.125rem;
  margin-top: 0;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

input:focus {
  outline: 3px solid goldenrod;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}
/* form */

.form_order {
  padding: 0.5rem 0.625rem;
  border-radius: 0.25rem;
}

.form-control {
  width: 100%;
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control2 {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-container {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.card-data {
  padding: 0.25rem;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

.button-pay {
  font-size: 1.2rem;
  display: block;
  padding: 0.75rem;
  margin-top: 1.5rem;
  width: 100%;
  border-radius: 3rem;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.button-pay:hover {
  cursor: pointer;
  color: white;
  background-color: darkblue;
}

/* back */

.button {
  font-size: 1.2rem;
  display: block;
  padding: 0.75rem;
  margin-top: 1rem;
  width: 20%;
  border-radius: 3rem;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.button:hover{
  cursor: pointer;
  color: white;
  background-color: darkblue;
}

.next {
  padding-left: 2.5rem;
}

/* footer */

footer {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  font-size: 1.5rem;
  padding: 4rem;
  background-color: darkblue;
}

footer .container_footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.3rem;
}

footer .container_footer h3 {
  position: relative;
  color: white;
  margin-bottom: 1rem;
}

.columns li {
  position: relative;
  list-style: none;
  color: white;
  display: inline-block;
}